:root {
  --color-point-orange: #ff5100;
}

/*회원가입*/
.iconIoMdCloseCircle {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 30px;
  height: 30px;
  cursor: pointer;
  color: #000;
}
.iconIoMdCloseCircle:hover{
    color: var(--color-point-orange);
}

/*메인 목록*/
.postsCardLink{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding: 12px;
    text-decoration: none;
    color: #000;
}